.cartPage {
  margin: 2em 2em 3em 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartPage__title {
  margin-bottom: 2em;
  margin-top: 1.5em;
}

.cartPage__listProducts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartPage__container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
}

@media (min-width: 1000px) {
  .cartPage__container {
    flex-direction: row;
  }

  .cartPage {
    margin: 1.5em 5em 5em 5em;
  }
}
