.profilePage {
  margin: 3em 2em 3em 2em;
  padding: 1em 2em 2em 2em;
  border: 2px solid cadetblue;
  border-radius: 10px;
}

.profilePage__EditProfileTab {
  display: flex;
  gap: 50px;
}

.profilePage__hr {
  background-color: cadetblue;
  width: 100%;
  height: 2px;
  border: 0;
}

.profilePage__shoppingBagTitle {
  margin-bottom: 1em;
  margin-top: 1em;
}

.profilePage__shoppingBag {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 2em;
}

@media (min-width: 1440px) {
  .profilePage {
    margin: 3em 15em 3em 15em;
  }
}
