.paymentCard {
  padding: 1em;
}

.paymentCard__title {
  margin-bottom: 0.5em;
}

.paymentCard__input {
  margin-bottom: 0.5em;
}

.paymentCard__data {
  display: flex;
  gap: 12px;
}

.paymentCard__buttonEnv {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}

.paymentCard__button {
  color: white;
  background-color: cadetblue;
  font-weight: 500;
  border: 0;
  padding: 0.7em;
}

.paymentCard__button:hover {
  background-color: cornflowerblue;
}
