.userPictureForm {
  display: flex;
  flex-direction: column;
  width: 12%;
  justify-content: center;
  align-items: center;
}

.userPictureForm__image {
  border-radius: 60em;
  height: 150px;
  width: 150px;
}

.userPictureForm__button {
  margin-top: 0.5em;
  padding: 0.5em;
  color: white;
  background-color: cadetblue;
  border: 0;
  font-weight: 500;
  width: 100%;
}

.userPictureForm__button:hover {
  background-color: cornflowerblue;
}
