.navbar {
  display: flex;
  justify-content: space-around;
  color: white;
  font-weight: 700;
  background-image: url('../../assets/macrame.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 0 10em 0;
  font-size: 18px;
}

.navbar__pages, .navbar__icons {
  display: flex;
  gap: 30px;
}

.navbar__items:hover {
  color:cornflowerblue;
}

.navbar__categories {
  background-color: transparent;
  border: 0;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.navbar__categoriesMenu {
  display: flex;
  flex-direction: column;
  background-color:cornflowerblue;
  padding: 0.8em;
}

.navbar__categoriesItems {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.navbar__categoriesItems:focus {
  color: bisque;
}

.navbar__glass {
  color: white;
  margin-top: 0.3em;
  margin-left: 4em;
}

.navbar__logButton {
  padding: 0.8em;
  border-radius: 30px;
  border: 0;
  background-color: cadetblue;
  color: white;
  font-weight: 700;
  margin-top: -0.5em;
}

.navbar__logButton:hover {
  background-color: cornflowerblue;
}
