.productsPage {
  margin: 4em 3em 4em 3em;
  text-align: center;
  justify-content: center;
}

.productsPage__list {
  margin-top: 3em;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
}
