.productByIdPage {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 2em 2em 3em 2em;
}

.productByIdPage__title {
  margin-bottom: 1em;
}

.productByIdPage__button {
  border: 0;
  color: white;
  padding: 0.7em;
  background-color:indianred;
  font-weight: 500;
}

.productByIdPage__button:hover {
  background-color: brown;
}

.productByIdPage__buttonEnv {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5em;
}

@media (min-width: 768px) {
  .productByIdPage {
    margin: 2em 4em 3em 4em;
  }
}

@media (min-width: 1440px) {
  .productByIdPage {
    margin: 2em 8em 3em 8em;
  }
}
