.shoppingBag {
  padding: 2em 1em 1em 1em;
  border: 3px solid cadetblue;
}

.shoppingBag__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.shoppingBag__paymentInfo {
  display: flex;
  gap: 50px;
  margin-bottom: 2em;
}

.shoppingBag__text {
  font-weight: 700;
  margin-left: 1em;
}
