.productsAdminPage {
  margin: 2em 3em 3em 3em;
}

.productsAdminPage__title {
  text-align: center;
}

.productsAdminPage__list {
  margin-top: 3em;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
}

.productsAdminPage__button {
  border: 0;
  color: white;
  padding: 0.7em;
  background-color:indianred;
  font-weight: 500;
}

.productsAdminPage__button:hover {
  background-color: brown;
}

.productsAdminPage__buttonEnv {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5em;
}

.productsAdminPage__filter {
  margin-top: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.productsAdminPage__input {
  border-radius: 5px;
  border: 3px solid cadetblue;
}

@media (min-width: 768px) {
  .productsAdminPage__filter {
    flex-direction: row;
  }
}
